<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="assets/bootstrap/js/bootstrap.bundle.min.js" defer></script>
    <title>App</title>
  </head>
</html>
